<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">

<head>
    <meta charset="UTF-8">
    <title>Welcome to Grocery App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="GroceryCtrl as ctrl" >
    <div class="container-fluid" data-ng-hide="ctrl.editStatus">
        <h3 class="col-md-offset-3 col-lg-offset-3"> Grocery Lists</h3>
    </div>
    <div class ="col-sm-12 col-sm-offset-2" data-ng-show="ctrl.editStatus">
        <div class="container-fluid">
            <h3 class="col-md-offset-3 col-lg-offset-3"> Grocery Edit</h3>
        </div>
        <form name = "eidtForm" novalidate class="form-inline" ng-submit="searchForm.$valid && ctrl.save()">
            <div class="form-group">
                <label for="brand">UPC12:</label>
                <input id="brand" class="form-control" type="text" name="brand" ng-model = "ctrl.grocery.upc12"
                       placeholder="{{ctrl.grocery.upc12}}" ng-pattern="/[0-9]/">
                <label for="brand">Brand:</label>
                <input id="brand" class="form-control" type="text" name="brand" ng-model = "ctrl.grocery.brand"
                       placeholder="{{ctrl.grocery.brand}}" ng-pattern="/[a-z,A-Z,0-9]/">
                <label for="name">Name:</label>
                <input id="name" class="form-control" type="text" name="name" ng-model = "ctrl.grocery.name"
                       placeholder="{{ctrl.grocery.name}}" ng-pattern="/[a-z,A-Z,0-9]/">
                <button type="submit" class="btn btn-info form-control" ng-disabled="editForm.$invalid"
                        ng-click="ctrl.updateEntry()">
                    Save
                </button>
                <button class="btn btn-info form-control" ng-disabled="editForm.$invalid"
                        ng-click="ctrl.cancel()">
                    Cancel
                </button>
            </div>
            <div class="validation" ng-hide = "1">
                <div data-ng-show="eidtForm.brand.$touched && eidtForm.brand.$invalid">
                    <span class="glyphicon glyphicon-alert"></span>
                    Invalid character in Brand field.
                </div>
                <div data-ng-show="editForm.name.$touched && editForm.name.$invalid">
                    <span class="glyphicon glyphicon-alert"></span>
                    Invalid character in Name filed.
                </div>
            </div>
            <div class="validation" ng-show = "ctrl.inputInvalid">
                <span class="glyphicon glyphicon-alert"></span>
                {{ctrl.status.message}}
            </div>
        </form>
    </div>

    <div class ="col-sm-12 col-sm-offset-1" data-ng-hide="ctrl.editStatus">
        <form name = "searchForm" novalidate class="form-inline" ng-submit="searchForm.$valid && ctrl.search()">
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input id="brand" class="form-control" type="text" name="brand" ng-model = "ctrl.brand"
                       placeholder="Enter brand" ng-pattern="/[a-z,A-Z,0-9]/">
                <label for="name">Name:</label>
                    <input id="name" class="form-control" type="text" name="name" ng-model = "ctrl.name"
                           placeholder="Enter name" ng-pattern="/[a-z,A-Z,0-9]/">
                <button type="submit" class="btn btn-info form-control" ng-disabled="searchForm.$invalid"
                            ng-click="ctrl.search()">
                        Search Grocery
                    </button>
            </div>
            <div class="validation" ng-hide = "1">
                <div data-ng-show="searchForm.brand.$touched && searchForm.brand.$invalid">
                    <span class="glyphicon glyphicon-alert"></span>
                    Invalid character in Brand field.
                </div>
                <div data-ng-show="searchForm.name.$touched && searchForm.name.$invalid">
                    <span class="glyphicon glyphicon-alert"></span>
                    Invalid character in Name filed.
                </div>
            </div>
            <div class="validation" ng-show = "ctrl.inputInvalid">
                     <span class="glyphicon glyphicon-alert"></span>
                    {{ctrl.status.message}}
            </div>

            <!--<div> <input type="text" ng-model="searchBox"></div>-->
        </form>
    </div>
    <div class ="col-sm-12 col-sm-offset-1" data-ng-hide="ctrl.editStatus">
        <table class="table friend-list">
            <thead>
            <tr>
                <th class="col-sm-2">Barcode</th>
                <th class="col-sm-2">Brand</th>
                <th class="col-sm-2">Name</th>
                <th class="col-sm-1">Edit</th>
             </tr>
            </thead>
            <tr ng-repeat="item in ctrl.groceries | filter: searchBox" ng-click="ctrl.select($index)"
                ng-class="{selected: $index == ctrl.selected}">
                <td class="col-sm-2">
                    <a  class="thumb">
                        <img ng-src="http://www.barcodes4.me/barcode/c128a/{{item.upc12}}.png?IsTextDrawn=1" alt="{{item.upc12}}"  height="50" width="120" />
                    </a>
                </td>
                <td class="col-sm-2">{{item.brand}}</td>
                <td class="col-sm-2">{{item.name}}</td>
                <td class="col-sm-1">
                    <!-- Detele with confirmation dialog -->
                    <i class="fa fa-remove" style="font-size:36px;color:red" data-toggle="modal" data-target="#confirmModal" ng-click="ctrl.deleteClicked(item.id)"> </i>
                    <!-- Modal -->
                    <div class="modal fade" id="confirmModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-warning">Confirm Deletion</h4>
                                </div>
                                <div class="modal-body text-warning">
                                    <p>Do you want to delete {{ctrl.grocery.name}} from Grocery List?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.deleteGrocery()">Yes</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<button class="btn-success" ng-click ="ctrl.deleteEntry($index)">Delete</button>-->
                    <i class="fa fa-angle-double-right" style="font-size:36px;color:green" ng-click="ctrl.showDetails(item.id)"></i>
                </td>
            </tr>

        </table>
    </div>
</body>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="app.js"></script>
<script src="grocery/grocery.controllernew.js"></script>
</html>